main {
    position: relative;
}

main img {
    width: 100%;
    height: 730px;
}

.idiom {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.idiom__wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.idiom__carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.idiom__card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idiom__image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
