/* main {
    display: block;
    justify-content: center;
    align-items: center;
} */

main .container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .sche_banner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.content img {
    width: 800px;
}

