a {
    text-decoration: none;
    color: black;
}

.contact-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact-lienhe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    gap: 30px;
}

.contact-frame24 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    z-index: 10;
    margin-top: 30px;
}

.contact-untitleddesign51 {
    width: 500px;
    height: 100%;
    position: absolute;
    right: 0;
    float: right;
}

.contact-left {
    width: 600px;
    height: 400px;
}

.contact-right {
    display: flex;
    width: 500px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.contact-frame70 {
    display: flex;
    width: 500px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-right .contact-frame70 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-text28 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-frame27 {
    width: 100%;
}

.contact-frame28 {
    width: 100%;
}

.contact-frame29 {
    width: 100%;
}

.contact-frame30 {
    width: 100%;
}

.contact-frame71 {
    width: 100%;
}

.contact-text38 {
    display: flex;
    width: 480px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: #c9e6c0;
}

.contact-frame72 {
    display: flex;
}

.contact-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
}

.contact-text18 {
    height: 26px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-text20 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-text22 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-text24 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
