.forget_wrapper--success {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9ca3af;
}

.forget_container--success {
    width: 30%;
    height: auto;
    border: 1px solid #9ca3af;
    border-radius: 36px;
    padding: 30px;
    text-align: center;
    position: relative;
}

.forget_button--success {
    width: 256px;
    height: 49px;
    padding: 16px 64px;
    background: #32b768;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border: none;
    margin: auto;
    color: #fff;
    font-weight: bold;
}

.forget_signin--success {
    font-weight: bold;
}

.forget__success--img .bg {
    width: 264.898px;
    height: 211.1px;
}

.forget__success--img .relax {
    width: 196px;
    height: 184px;
    position: absolute;
    top: 10%;
    left: 27%;
}

.forget__success--img .vector1 {
    width: 23.09px;
    height: 23.088px;
    position: absolute;
    top: 13%;
    left: 25%;
}

.forget__success--img .vector2 {
    width: 82.949px;
    height: 82.949px;
    position: absolute;
    top: 8%;
    right: 17%;
}

.forget__success--img .vector3 {
    width: 18.901px;
    height: 18.901px;
    position: absolute;
    top: 40%;
    left: 21%;
}

.forget__success--img .vector4 {
    width: 23.444px;
    height: 23.444px;
    position: absolute;
    top: 30%;
    right: 18%;
}
