.project__banner {
    width: 100%;
    height: 500px;
}

.project__banner img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.project__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-top: 50px;
}

.project__content {
    max-width: 728px;
}

.project__content--info:not(:last-child) {
    margin-bottom: 20px;
}

.project__content--info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.project__content--info-img img {
    width: 300px;
    height: 300px;
}

.project__content--info-about {
    max-width: 398px;
}

.project__content--about-title h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project__content--about-horizontal {
    width: 139px;
    border: 2px solid #c9e6c0;
    margin-bottom: 15px;
}

.project__content--about--para {
    font-size: 16px;
    font-weight: 400;
}

.vertical-line {
    width: 1px;
    height: 978px;
    background-color: #000;
    margin: 20px 20px 0 20px;
}

.project__news {
    max-width: 417px;
}

.project__news--hashtag {
    height: 64px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.project__news--content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.project__news--img img {
    width: 100px;
    height: 100px;
}

.project__news--para {
    font-size: 16px;
    margin-left: 15px;
}

@media screen and (max-width: 1200px) {
    .project__banner img {
        height: 650px;
    }

    .project__wrapper {
        gap: 25px;
    }

    .project__content {
        max-width: 600px;
    }

    .vertical-line {
        height: 800px;
    }

    .project__news {
        max-width: 300px;
    }

    .grammar__news--para {
        font-size: 16px;
    }
}

@media screen and (max-width: 1025px) {
    .project__banner img {
        height: 400px;
    }

    .project__wrapper {
        flex-wrap: wrap;
    }

    .project__content--info-img img {
        width: 250px;
        height: 250px;
    }

    .vertical-line {
        height: 1px;
        width: 60%;
    }

    .project__news {
        max-width: 600px;
    }

    .project__news--title {
        height: 0;
    }
}

@media screen and (max-width: 769px) {
    .project__banner img {
        height: 250px;
    }

    .project__wrapper {
        margin-top: 0px;
    }

    .project__content--info-img img {
        width: 200px;
        height: 200px;
    }

    .project__content--info-about h3 {
        font-size: 16px;
    }

    .project__content--about-horizontal {
        width: 100px;
    }

    .project__content--about--para {
        font-size: 12px;
    }

    .project__content {
        max-width: 400px;
    }

    .project__news {
        max-width: 400px;
    }
}

@media screen and (max-width: 481px) {
    .project__banner img {
        height: 150px;
    }

    .project__wrapper {
        margin-top: 0px;
    }

    .project__content {
        max-width: 300px;
    }

    .project__content--info-img img {
        width: 150px;
        height: 150px;
    }

    .project__content--about-title h3 {
        font-size: 10px;
    }

    .project__content--about-horizontal {
        width: 68px;
    }

    .project__content--about--para {
        font-size: 8px;
    }

    .project__news {
        max-width: 300px;
    }

    .project__news--para {
        font-size: 12px;
    }

    .project__news--img img {
        width: 60px;
        height: 60px;
    }
}
