/* CSS reset */
* {
    margin: 0;
    box-sizing: border-box;
}

#headerID{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

a {
    text-decoration: none;
    color: black;
}

/*
?       ==================================
todo    nav-bar
?       ==================================
*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: transparent;
    height: 110px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ?==================================logo */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 30px 0 10px;
}

/* ?==================================nav-menu */
.nav-toolbar {
    display: flex;
}

ul.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}

ul.list-item>li {
    padding: 10px 20px;
}

.list-item i {
    opacity: .7;
    margin-left: 5px;
}

.list-item i.fa-angle-left {
    display: none;
}

.list-item__child {
    position: relative;
}

.list-item__child ul {
    background-color: #fff;
    position: absolute;
    width: 250px;
    top: 50px;
    /* left: 10px; */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s linear;
    z-index: 1000;
}

.list-item__child ul li{
    padding: 10px;
}

.list-item__child ul li:hover{
    background-color: #C9E6C0;
}

.list-item__child ul li:first-child:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list-item__child ul li:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.list-item__child:hover ul.list-item__expand {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

ul.list-item__expand::before {
    content: '';
    background-color: transparent;
    width: 250px;
    height: 20px;
    position: absolute;
    top: -15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s linear;
}

.list-item__child:hover ul.list-item__expand::before {
    transform: scaleX(1);
}
ul.list-item__expand li i {
    float: right;
}

ul.list-item__expand li.list-item__expand--child {
    position: relative;
}

ul.list-item__expand li.list-item__expand--child ul {
    background-color: #fff;
    position: absolute;
    width: 220px;
    top: 0;
    left: 252px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
    z-index: 10;
}

li.list-item__expand--child:hover ul.expand__project {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

ul.expand__project::before {
    content: '';
    background-color: transparent;
    width: 10px;
    height: 200px;
    position: absolute;
    left: -10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s linear;
}

li.list-item__expand--child:hover ul.expand__project::before {
    transform: scaleX(1);
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ?==================================== login */
.login a button{
    font-size: 14px;
    border: none;
    background-color: transparent;
    width: 83px;
    height: 33px;
    border-radius: 8px;
    cursor: pointer;
}

.login a button.signin {
    background-color: #C9E6C0;
}

.list-item.controller .search-box {
    /* background: #fff; */
    position: absolute;
    top: 90px;
    right: 100px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    padding: 10px 30px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.list-item.controller .search-box.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

.list-item.controller .search-box input {
    width: 500px;
}

button.ham-menu {
    display: none;
}

/*
!    ===================================
!    RESPONSIVE HEADER
!    ===================================
*/

@media screen and (max-width: 1484px) {
    .nav-toolbar {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 905px) {
    .nav-toolbar {
        display: none;
    }

    .list-item.controller #search {
        display: none;
    }

    button.ham-menu {
        display: flex;
    }

    .list-item.controller .list-item.login {
        display: none;
    }

    .list-item.controller .dropdown {
        display: none;
    }
}

@media screen and (max-width: 481px) {

    .logo img {
        width: 50px;
        height: 50px;
    }

    .logo a span {
        font-size: 15px;
    }

    .controller {
        padding: 0;
    }

    .search {
        padding: 0 5px
    }
}
